<html>
<head>
  <meta charset="utf-8">
  <title>シークレット</title>
</head>

<style>
body{
  background-color: black;
}
.page{
  background-color: #FFFFFF;
}
.subject{
  color: #FFFFFF;
  font-size:300%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.content{
  color: #FFFFFF;
  font-size:300%;
  margin-top: 10%;
  margin-bottom: 10%;
}
</style>

<body>
  <div class="subject">
    ${subject}
  </div>
  <div class="page">
    <video width="100%" height="500" controls>
      <source src="/media/${movie}" type="video/mp4">
    </video>
  </div>
  <div class="content">
    しばらくお待ちください<br>
    待っていた再生ボタンを押してください<br><br>
    そしてフルスクリーンで見ることができます<br>
    よくわからない場合の話してください<br><br>
    ありがとうございます<br><br>
    - ジンヨン
  </div>
</body>
</html>